<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>{% block title %}{% endblock title %} | Snapcraft </title>

    <link rel="canonical" href="https://app-generator.dev/product/datta-able/flask/" />

    {% include "includes/head.html" %}
    {% block extrastyle %}{% endblock extrastyle %}

  </head>

  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    {% block loader %}
      {% include "includes/loader.html" %}
    {% endblock loader %}

    {% block sidebar %}
        {% include "includes/sidebar.html" %}
    {% endblock sidebar %}

    {% block navigation %}
      {% include "includes/navigation.html" %}
    {% endblock navigation %}

    <div style="position: fixed; bottom: 0; left: 0; width: 100vw; height: 100vh; z-index: -1;">
        <img src="{{ url_for('static', filename='assets/images/background.gif') }}" style="width: 100%; height: 100%; object-fit: cover; opacity: 0.2;">
    </div>

    {% block content %}{% endblock content %}
     
    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock footer %}

    {% include "includes/scripts.html" %}
    {% block extra_js %}{% endblock extra_js %}
  
  </body>
</html>
