<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{{ url_for('home_blueprint.index') }}" class="b-brand text-black">
        <img src="{{ url_for('static', filename='assets/images/user/Survive_Icon.png') }}" 
             class="img-fluid" alt="Survival System Logo" 
             style="height: 170px; width: 170px; transform: translateY(5px) translateX(-8px)">
      </a>
    </div>
    
    </div>
    <div class="navbar-content">

      <ul class="pc-navbar">

        <li class="pc-item pc-caption">
          <label>Survival System</label>
        </li>

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.main_panel') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="layout"></i></span>
            <span class="pc-mtext">Main Panel</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.inventory') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="archive"></i></span>
            <span class="pc-mtext">Inventory</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.crafting') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="tool"></i></span>
            <span class="pc-mtext">Crafting</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.gps') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="map-pin"></i></span>
            <span class="pc-mtext">GPS</span>
          </a>
        </li>

        {% if current_user.is_authenticated %}
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.profile') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="user"></i></span>
            <span class="pc-mtext">Profile</span>
          </a>
        </li>
        {% endif %}

        {% if not current_user.is_authenticated %}
  
  
        {% else %}
        <li class="pc-item">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon me-2">
                <use xlink:href="#custom-logout-1-outline"></use>
              </svg>
            </span>
            <span class="pc-mtext">Logout</span>
          </a>
        </li>
        {% endif %}
      </ul>
      
      <div class="navbar-footer mt-12">
        <div class="card pc-user-card bg-transparent">
          <div class="card-body text-center">
            <a href="https://app-generator.dev/product/datta-able/flask/" class="btn btn-success">
              <span class="pc-micon"><i data-feather="download"></i></span>
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
